# Projet guidé : Prédiction prix de vente de voitures

## 1. Introduction au dataset

<img src="images01.png"  >

Pistes à suivre:
- Lire le fichier imports-85.data dans un DataFrame qu'on nommera cars. Si vous lisez le fichier à l'aide de pandas.read_csv() sans spécifier de valeur de paramètre supplémentaire, vous remarquerez que les noms de colonne ne correspondent pas à ceux de la documentation du dataset. Comment résoudre ce problème? 
- Quelles sont les colonnes numériques? Déterminer les caractéristiques et la colonne cible.
- Afficher les premières lignes du DataFrame.
- Sélectionner ensuite seulement les colonnes de valeurs continues (à partir de la documentation). Vous nommerez ce nouveau DataFrame numeric_cars. 
- Afficher les 5 premières valeurs de numeric_cars et s'assurer que cela ressemble à l'aperçu ci-dessus.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
cars = pd.read_csv('datas/imports-85.data')
cars.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

## 2. Nettoyage des données

Pistes à suivre:
- Utiliser la méthode DataFrame.replace() pour remplacer toutes les valeurs '?' avec la valeur manquante numpy.nan.
- Parce que '?' est une valeur de type string, les colonnes contenant cette valeur ont été converties dans le type de données object de pandas (au lieu d'un type numérique comme int ou float). Après avoir remplacé les valeurs '?', déterminez quelles colonnes doivent être converties en type numérique. Vous pouvez utiliser les méthodes DataFrame.astype() ou Series.astype() pour convertir les colonnes en d'autres types de données.
- Retourner le nombre de lignes pour lesquelles une valeur est manquante dans la colonne 'normalized-losses'. Déterminez comment vous devez gérer cette colonne. Vous pourriez:
 + Remplacer les valeurs manquantes en utilisant les valeurs moyennes de cette colonne.
 + Supprimer entièrement les lignes (en particulier si des valeurs sont manquantes dans les autres colonnes de ces lignes).
 + Supprimer la colonne entièrement.
- Explorer le nombre de valeurs manquantes pour les autres colonnes et gérer les valeurs manquantes.
- Parmi les colonnes que vous avez décidé de conserver, normaliser les unités numériques de manière à ce que toutes les valeurs soient comprises entre 0 et 1.
- Afficher les 5 premières lignes pour vérifier.

## 3. Modèle univarié

Pistes à suivre:
- Créer une fonction nommée, knn_train_test() qui encapsule le processus d'entrainement et de validation simple. Cette fonction doit avoir 3 paramètres: nom de la colonne d'apprentissage, nom de la colonne cible et objet dataframe.
 + Cette fonction doit scinder le dataset en un set de training et de test.
 + Ensuite, il convient d'instancier la classe KNeighborsRegressor, d'ajuster le modèle au set de training et de faire des prédictions sur le set de test.
 + Enfin, il convient de calculer la racine carrée d'erreur de moyenne quadratique RMSE et de retourner cette valeur.
- Utiliser cette fonction pour entrainer et tester des modèles univariés en utilisant les différentes colonnes numériques du dataset. Quelle colonne a obtenu les meilleurs résultats avec la valeur k par défaut?
- Modifier la fonction knn_train_test() que vous avez écrite pour accepter un paramètre pour la valeur k.
 + Mettre à jour la logique de la fonction pour utiliser ce paramètre.
 + Pour chaque colonne numérique, créer, entrainer et tester un modèle univarié en utilisant les valeurs k suivantes (1, 3, 5, 7, et 9). 
 + Visualiser les résultats à l'aide d'un graphique à nuage de points ou d'un tracé linéaire.
 + Trier les caractéristiques par moyenne de valeurs RMSE.

## 4. Modèle multivarié

Pistes à suivre:
- Modifier la fonction knn_train_test() pour qu'elle accepte une liste de noms de colonne (au lieu d'un simple élément string). Modifier le reste de la logique de la fonction pour utiliser ce paramètre:
 + Au lieu d'utiliser une seule colonne pour entrainer et tester, utiliser toutes les colonnes transmises.
 + Utiliser la valeur k par défaut de scikit-learn pour le moment (nous ajusterons la valeur k à l'étape suivante).
- Utiliser les 2 meilleures caractéristiques de l'étape précédente pour entrainer et tester un modèle multivarié des k plus proches voisins en utilisant la valeur k par défaut.
- Utiliser les 3 meilleures caractéristiques de l'étape précédente pour entrainer et tester un modèle multivarié des k plus proches voisins en utilisant la valeur k par défaut.
- Utiliser les 4 meilleures caractéristiques de l'étape précédente pour entrainer et tester un modèle multivarié des k plus proches voisins en utilisant la valeur k par défaut.
- Utiliser les 5 meilleures caractéristiques de l'étape précédente pour entrainer et tester un modèle multivarié des k plus proches voisins en utilisant la valeur k par défaut.
- Utiliser les 6 meilleures caractéristiques de l'étape précédente pour entrainer et tester un modèle multivarié des k plus proches voisins en utilisant la valeur k par défaut.
- Afficher toutes les valeurs RMSE.

## 5. Variation des hyper paramètres

Pistes à suivre:
- Pour les 3 premiers modèles de la dernière étape, modifier la valeur de l'hyper paramètre de 1 à 25 et tracer les valeurs RMSE obtenues.
- Quelle valeur de k est optimal pour chaque modèle? Quelle différence y a-t-il entre les valeurs k et selon vous, qu'est ce qui explique ces différences?